<div class="form small-form hoverable">
  <h1>New Question</h1>
  <%= render 'form', question: @question %>
  <%= link_to 'All questions', questions_path, class: 'btn btn-outline-secondary' %>
</div>
